<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>dont forget to change this</title>
  </head>
  <body>
<div class="container">

    <%- include ('../partials/nav.ejs') %>
  
  <div class="">
    <h1>Edit</h1>
    <img src="<%=movie.moviePoster%>" alt="">
    <form class="" action="/movies/<%=movie._id%>?_method=PUT" method="POST">
      <label for="title">Title:</label>
      <input type="text" name="title" value="<%=movie.title%>"><br>
      <label for="description">Description:</label>
      <input type="text" name="description" value="<%=movie.description%>"><br>
      <label for="genres">Genres:</label>
      <input type="text" name="genres" value="<%=movie.genres%>"><br>
      <label for="rated">Rated:</label>
      <input type="text" name="rated" value="<%=movie.rated%>"><br>
      <label for="runTime">Run Time in minutes:</label>
      <input type="text" name="runTime" value="<%=movie.runTime%>"><br>
      <label for="moviePoster">Movie Poster URL:</label>
      <input type="text" name="moviePoster" value="<%=movie.moviePoster%>"><br>
      <label for="available">Is it available?</label>
      <input type="checkbox" id='available' name="available"
      <%= movie.available === true ? 'checked' : '' %>
      ><br>
      <input type="submit" value="Submit Changes">
    </form>
    <form class="" action="/movies/<%=movie.id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete From Collection">
    </form>
  </div>
</div>
  </body>
</html>
