<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Movies</title>
</head>
<%- include ('../partials/head.ejs') %>
<body>
  <%- include ('../partials/nav.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <!-- <h1>Movies!</h1> -->
      <% for (movie of movies){ %>
      <div class="card text-center text-decoration-none w-25">
        <a class='text-decoration-none' href="/movies/<%=movie._id%>">
          <img class='img-fluid card-img-top' src="<%=movie.moviePoster%>" alt="">
          <div class="movieTitle">
            <p class=' justify-content-center'> <%= movie.title %> </p>
          </div>
        </a>
      </div>
      <%}%>
</div>
</div>
<%- include ('../partials/footer.ejs') %>
  </body>
</html>
