<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>dont forget to change this</title>
  </head>
  <body>
<div class="container">
  <nav>
    <%- include ('../partials/nav.ejs') %>
  </nav>
  <div class="">

    <img src="<%=movie.moviePoster%>" alt="">

  <ul>
    <li> Title: <%= movie.title %> </li>
    <li> Genres: <%= movie.genres%> </li>
    <li> Rated: <%= movie.rated%> </li>
    <li> Run Time: <%= movie.runTime%> mins </li>
    <li> Description: <%= movie.description%> </li>
    <li> <%= movie.available === true ? 'Movie is available' : "Movie isn't  available" %> </li>
  </ul>
  <form class="" action="/movies/<%=movie.id%>/edit" method="GET">
    <input type="submit" value="Edit">
  </form>
  </div>
</div>
  </body>
</html>
